.modal-field-label {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

input {
  margin-top: 4px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--main-transition);

  &:focus {
    border-color: var(--focus-color);
  }
}

.icon {
  transition: fill var(--main-transition);
  pointer-events: none;

  input:hover + &,
  input:focus + & {
    fill: var(--focus-color);
  }
}
.modal-field {
  position: relative;
  display: block;

  &.name {
    margin-top: 12px;
  }

  &.phone,
  &.email {
    margin-top: 10px;
  }
}
.modal-icon {
  display: block;
  position: absolute;
  bottom: 14px;
  left: 15px;
}
